{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <heroes-list :heroes="{{ heroes|json_encode }}">
            <div class="heroes-list">
                <h1>
                    Heroes list
                </h1>
                <div class="d-flex flex-wrap d-flex justify-content-center">
                    {% for hero in heroes %}
                        <a href="" class="hero ml-1 mr-1 mb-2">
                            <div class="img {{ hero.name }}"></div>
                            <div class="name bg-dark text-light text-center p-2">
                                <strong>{{ hero.name|upper }}</strong> <br/>
                                {% if 'tank' in hero.type %}
                                <i class="fas fa-shield-alt"></i>
                                {% endif %}
                                {% if 'damage' in hero.type %}
                                <i class="fas fa-khanda"></i>
                                {% endif %}
                                {% if 'heal' in hero.type %}
                                <i class="fas fa-heart"></i>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </heroes-list>
    </div>
{% endblock %}
